@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../node_modules/bourbon-neat/app/assets/stylesheets/neat";



section {
  @include outer-container;
  header { @include span-columns(3); }
  section { @include span-columns(9); }
}

.container {
  position: absolute;
  width: 100%;
}

/* The starting CSS styles for the enter animation */
.ng-enter {
  transition:0.1s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-leave {
  transition:0.1s linear all;
  opacity:1;
}
.ng-leave.ng-leave-active {
  opacity:0;
}